/*#region GLOBAL*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: white;
}

ul {
    max-height: 100%;
}

/*#endregion GLOBAL*/

/*#region Header*/

a:hover {
    /* background: rgba(113, 113, 113, 0.75); */
    color: black;
    text-decoration: underline;
}

.menu {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 3em 1.5em;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 200px;
    right: 0px;
    overflow: hidden;
}

.menu a {
    font-weight: 300;
    letter-spacing: 2px;
    text-decoration: none;
    background: white;
    /* padding: 20px 5px; */
    display: inline-block;
    width: 100%;
    text-align: center;
    font-family: Courier New, Courier, monospace;
    font-size: 30px;
    color: #000000;
    font-weight: bold;
}

.menu_image {
    max-height: none;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navigation li {
    flex: 3;
}

.navigation .user {
    flex: 1;
}

@media all and (max-width: 1000px) {
    .navigation ul {
        flex-wrap: wrap;
    }

    .navigation li {
        flex: 1 1 10%;
    }

    .navigation .user {
        flex: 1 1 33.33%;
    }
}

/*#endregion Header*/

/*#region Body*/

.body_content {
    position: absolute;
    top: 180px;
    bottom: 70px;
    left: 0px;
    right: 0px;
    overflow: auto;
}

/*#endregion Body*/

/*#region About page*/

#about {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
    width: 60%;
    padding: 10px;
}

#about>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#about_list {
    flex-direction: column;
}

#about_image {
    align-self: center;
}

#about_image>h5 {
    margin: 0;
}

#about p {
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#about h5 {
    text-align: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
}

/*#endregion About page*/

/*#region Works page*/

#works {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
    width: 60%;
    padding: 10px;
    flex-direction: column;
}

#works p {
    margin: 7px 0px 0px 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#works ul {
    list-style-image: url("images/logo_small.png");
}

* {
    box-sizing: border-box
}

/*#endregion Works page*/

/*#region News page*/

#news {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
    width: 60%;
    padding: 10px;
    flex-direction: column;
}

#news li {
    margin: 14px 0px 0px 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#news p {
    margin: 0px;
}

#news_list_outer {
    list-style-image: url("images/logo_small.png");
}

#news_list_inner {
    list-style-image: none;
}

/*#endregion News page*/

/*#region Home page*/

#home {
    position: absolute;
    top: 160px;
    bottom: 60px;
    left: 0px;
    right: 0px;
    overflow: auto;
}

#menu_home {
    /* max-width: 1000px; */
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

/* Number text (1/8 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 18px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 3s;
}

@keyframes fade {
    from {
        opacity: .6
    }

    to {
        opacity: 1
    }
}

/*#endregion Home page*/

/*#region Contact page*/

#contact {
    display: flex;
    max-width: 1000px;
    margin: auto;
    width: 60%;
    padding: 10px;
    flex-direction: column;
}

#contact p {
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#email_header {
    line-height: 0px;
}

#email_body {
    line-height: 0px;
}

#mobile_header {
    margin-top: 50px;
    line-height: 0px;
}

#mobile_body {
    line-height: 0px;
    margin-bottom: 60px;
}

#contact_line1 {
    margin: 0px 0px 60px 0px;
}

/*#endregion Contact page*/

/*#region CDs page*/
#cds {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin: auto;
    width: 100%;
    padding: 10px;
}

.cdInfos {
    display: flex;
    position: absolute;
    margin: auto;
    /* width: 100%; */
    text-align: center;
    padding: 10px;
    bottom: 70px;
    font-size: 24px;
    margin: 0 auto;
}

.clipped-border {
    -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    padding: 5px;
    background: linear-gradient(grey, lightgrey);
    max-height: 250px;
    max-width: 250px;
    transition: transform 0.2s;
    position: absolute;
    cursor: pointer;
    margin: 100px 0px 0px 150px;
}

.clipped-border:before {
    content: '';
    position: absolute;
    opacity: 0.5;
    width: 350px;
    height: 70px;
    background: white;
    top: 0;
    left: 0;
    z-index: 1;
    transform: rotate(45deg);
    transition: transform 0.5s;
}

.clipped-border:hover:before {
    transform: translate(-100px, 400%) rotate(45deg);
    transition: transform 0.5s;
}

.clipped-border:nth-child(1) {
    top: 0px;
    left: 755px;
}

.clipped-border:nth-child(2) {
    top: 0px;
    left: 990px;
}

.clipped-border:nth-child(3) {
    top: 0;
    left: 1225px;
}

.clipped-border:nth-child(4) {
    top: 196px;
    left: 873px;
}

.clipped-border:nth-child(5) {
    top: 196px;
    left: 1106px;
}

.clipped-border:nth-child(6) {
    top: 392px;
    left: 755px;
}

.clipped-border:nth-child(7) {
    top: 392px;
    left: 990px;
}

.clipped-border:nth-child(8) {
    top: 392px;
    left: 1225px;
}

#clipped {
    -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}

.clipped-border:hover {
    transform: scale(1.2);
    transition: transform 0.2s;
    z-index: 10;
}


@media screen and (max-width:1500px) {
    .clipped-border {
        width: 100px;
        height: 100px;
    }

    .clipped-border:nth-child(1) {
        top: 0px;
        left: 0px;
    }

    .clipped-border:nth-child(2) {
        top: 0px;
        left: 100px;
    }

    .clipped-border:nth-child(3) {
        top: 0;
        left: 200px;
    }

    .clipped-border:nth-child(4) {
        top: 85px;
        left: 50px;
    }

    .clipped-border:nth-child(5) {
        top: 85px;
        left: 150px;
    }

    .clipped-border:nth-child(6) {
        top: 170px;
        left: 0px;
    }

    .clipped-border:nth-child(7) {
        top: 170px;
        left: 100px;
    }

    .clipped-border:nth-child(8) {
        top: 170px;
        left: 200px;
    }
}


.cd1_text, .cd2_text, .cd3_text, .cd4_text, .cd5_text, .cd6_text, .cd7_text, .cd8_text {
    display: none;
}

.cd1:hover~.cd1_text {
    display: block;
    font-size: 25px;
}

.cd2:hover~.cd2_text {
    display: block;
    font-size: 25px;
}

.cd3:hover~.cd3_text {
    display: block;
    font-size: 25px;
}

.cd4:hover~.cd4_text {
    display: block;
    font-size: 25px;
}

.cd5:hover~.cd5_text {
    display: block;
    font-size: 25px;
}

.cd6:hover~.cd6_text {
    display: block;
    font-size: 25px;
}

.cd7:hover~.cd7_text {
    display: block;
    font-size: 25px;
}

.cd8:hover~.cd8_text {
    display: block;
    font-size: 25px;
}

/*#endregion CDs page*/

/*#region Footer*/

.footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    min-height: 50px;
}

#footer_icons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style: none;
    padding: 0px;
}

#footer_icons>li {
    margin: -10px 10px -10px 0px;
}

#footer_icons img {
    filter: grayscale(100%);
}

#footer_icons img:hover {
    filter: grayscale(0%);
}

#acknowledgment_text {
    position: fixed;
    left: 0px;
    bottom: 0px;
    margin: 0px 0px 5px 5px;
}

#acknowledgment_text>a:link {
    color: grey;
    text-decoration: none;
}

#acknowledgment_text>a:visited {
    color: grey;
    text-decoration: none;
}

#acknowledgment_text>a:hover {
    color: grey;
    text-decoration: underline;
}

#acknowledgment_text>a:active {
    color: grey;
    text-decoration: underline;
}

.footer p {
    cursor: pointer;
    position: absolute;
    display: inline-block;
    bottom: 5px;
    left: 5px;
    font-size: 12px;
    background: linear-gradient(to bottom, #000, #000 60%, #fff 60%, #fff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-repeat: no-repeat;
    transition: background 0.4s ease-out;
    white-space: nowrap;
    margin: 0px;
}

#footer_icons8 {
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    background: linear-gradient(to bottom, #000, #000 60%, #fff 60%, #fff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-repeat: no-repeat;
    transition: background 0.4s ease-out;
    white-space: nowrap;
    margin: 0px;
}

.footer span {
    position: absolute;
    bottom: 0px;
}

.footer span:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 12px;
    background: #000;
    bottom: -5px;
    transition: all 0.4s ease-out;
}

.footer p:hover {
    background-position: 0 3px;
}

#footer_icons8:hover {
    background-position: 0 3px;
}

.footer span:hover:before {
    transform: translateY(10px)
}

/*#endregion Footer*/

/*#region Menu Images*/

#menu_news {
    width: 110px;
    height: 43px;
    display: block;
    background: transparent url('images/menu_news.jpg') no-repeat;
}

#menu_news:hover {
    background-image: url('images/menu_news_o.jpg');
}

#menu_cds {
    width: 110px;
    height: 43px;
    display: block;
    background: transparent url('images/menu_cds.jpg') no-repeat;
}

#menu_cds:hover {
    background-image: url('images/menu_cds_o.jpg');
}


#menu_works {
    width: 130px;
    height: 43px;
    display: block;
    background: transparent url('images/menu_works.jpg') no-repeat;
}

#menu_works:hover {
    background-image: url('images/menu_works_o.jpg');
}


#menu_about {
    width: 130px;
    height: 43px;
    display: block;
    background: transparent url('images/menu_about.jpg') no-repeat;
}

#menu_about:hover {
    background-image: url('images/menu_about_o.jpg');
}


#menu_contact {
    width: 160px;
    height: 43px;
    display: block;
    background: transparent url('images/menu_contact.jpg') no-repeat;
}

#menu_contact:hover {
    background-image: url('images/menu_contact_o.jpg');
}



/*#endregion Menu Images*/

/*#region Scrollbars*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgba(172, 172, 172, 0.543);
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsla(246, 60%, 55%, 0.215);
}

/*#endregion Scrollbars*/